<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AppFrontend</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Users</a>
                </li>
                <li>
                    <createuser *ngIf="(auth.isAuthenticated | async)"></createuser>
                </li>
            </ul>
            
            <div class="d-flex">
                <login-form></login-form>
            </div>
        </div>
    </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>